html {

}

.gameInput {
    display: all;
}

.hidden {
    display: none;
}

#chat {
    padding: 0;
}

.chatMessage {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chatMessageAlt {
    background-color: #D3D3D3;
}